@tailwind base;
@tailwind components;
@tailwind utilities;

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    html, body, #__next {
      height: 100%;
    }
    
    body {
      font-family: "Poppins", sans-serif;
      background-color: #F5F5F5;
      color: #333;
    }
    
    a {
      text-decoration: none;
      color: inherit;
    }
    
    button {
      cursor: pointer;
      outline: none;
    }
    
    img, audio, video {
      max-width: 100%;
      border-radius: 0.5rem;
    }